<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMA Cross Chart</title>
</head>
<style>
    .container {
        position: relative;
        margin: auto;
        height: 80vh;
        width: 80vw;
    }
    canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>
<body>
    <!-- <button id="renderBtn">
        Render
    </button> -->
    <div class="container">
        <canvas id="canvas"></canvas>
    </div>

</body>

<script src="{{ url_for('static', filename='script/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/myEmaChart.js') }}"></script>
<script src="{{ url_for('static', filename='script/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/utils.js') }}"></script>

</html>
